.button_background{
  text-decoration: none;
  background-color: #005281;
  color: white;
}
.button_background:hover{
  text-decoration: none;
  background-color: #005281;
  color: white;
}
table th{
color: #005281;
}
table .center{
  text-align: center;
}
p{
  text-align: center;
}
button{
  color: #005281;
}
th,
td {
  text-align: center;
}
th {
  padding: 10px;
}
td {
  padding: 20px;
}

.mat-button:hover{
  text-decoration: underline;
}