<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8"/>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet"/>
  <link href="https://unpkg.com/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css" rel="stylesheet"/>
  <script src="https://unpkg.com/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>
</head>
<body style="background-color: #e5f6ff">
<div id="main">
  <h1 class="subtitle is-2 title" style="color: #005281;">Beschluss - Folie:</h1>
  <div id="form">
    <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" [formGroup]="addressForm" novalidate>
      <mat-form-field appearance="outline" class="example-full-width" class="full-width-field">
        <mat-label>Titel</mat-label>
        <input type="text" formControlName="titel" matInput name="titel" [(ngModel)]="titel" l>
        <mat-error *ngIf="addressForm.controls['titel'].hasError('required')">
          Titel muss ausgefüllt werden!
        </mat-error>
        <mat-error *ngIf="addressForm.controls['titel'].hasError('maxlength')">
          Zeichenanzahl wurde überschritten!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width" class="full-width-field">
        <mat-label>Beschreibung</mat-label>
        <textarea formControlName="freitext" matInput name="freitext" [(ngModel)]="freitext"></textarea>
        <mat-error *ngIf="addressForm.controls['freitext'].hasError('required')">
          Beschreibung muss ausgefüllt werden!
        </mat-error>
        <mat-error *ngIf="addressForm.controls['freitext'].hasError('maxlength')">
          Zeichenanzahl wurde überschritten!
        </mat-error>
      </mat-form-field>
      <section class="example-section">
        <input type="checkbox" formControlName="entscheidung" name="entscheidung" value="1" [(ngModel)]="entscheidungBool">Entscheidung?
        <br>
      </section>
      <div class="field">
        <input  [disabled]="!addressForm.valid"  class="button full-width-field is-dark"
               style="background-color: #005281;" type="submit" value="Anlegen">
      </div>
    </form>
  </div>
</div>
</body>
</html>
