<head>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet"/>
  <link href="https://unpkg.com/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css" rel="stylesheet"/>
  <script src="https://unpkg.com/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<div id="main" >
  <h1 class="subtitle is-2" style="color: #005281; margin-bottom: 2%;">Meine Projekte</h1>
  <div class="box" id="form" style="background-color: #e5f6ff; border-color: #005281;">
    <table class="table is-fullwidth" id="project_table">
      <thead>
      <tr>
        <th>Projekt</th>
        <th>Status</th>
        <th>Ziel</th>
        <th>Start-Datum</th>
        <th>End-Datum</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let testobject of projects">
        <td><button mat-raised-button (click)="openDialog(testobject.projekt_id)">{{testobject.inhalt}}</button></td>
        <td>{{displayStatus(testobject.status)}}</td>
        <td>{{testobject.ziel}}</td>
        <td>{{testobject.start_datum | date: 'dd.MM.yyyy'}}</td>
        <td>{{testobject.end_datum | date: 'dd.MM.yyyy'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
