*{
  background-color: #e5f6ff;
}

span.file-cta{
  background-color: #e5f6ff;
  border-color: #005281;
  color: #005281;
}
span.file-cta:hover{
  background-color: #e5f6ff;
  border-color: #005281;
  color: #005281;
}

span.file-cta:visited{
  background-color: #e5f6ff;
  border-color: #005281;
  color: #005281;
}
span.file-cta:active{
  background-color: #e5f6ff;
  border-color: #005281;
  color: #005281;
}

span.file-cta:link{
  background-color: #e5f6ff;
  border-color: #005281;
  color: #005281;
}