*{
  background-color: #e5f6ff;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 1%;
  cursor: pointer;
  color: white;
  background-color: #005281;
}
.custom-file-upload:hover {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 1%;
  cursor: pointer;
  color: white;
  background-color: #005281;
}