
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend_projector-primary: mat.define-palette(mat.$indigo-palette);
$frontend_projector-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend_projector-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend_projector-theme: mat.define-light-theme((
  color: (
    primary: $frontend_projector-primary,
    accent: $frontend_projector-accent,
    warn: $frontend_projector-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend_projector-theme);


/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
  color: #005281;
}

#main  {
  padding: 1%;
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
}

#form{
  background-color: #E5F6FF;
  padding: 5%;
}

div .field{
 // padding: 2%;
}

button {
  background-color: #A7E0F9;
}

label{
  font-size: 140%;
  padding-bottom: 1%;
}

.hero{
  background-color: #A7E0F9;
  margin-top:-2%;
}

.image{
  width:15%;
  float: right;
}

select {
  width: 100%;
  padding: 0.8%;
  color:  #005281;
  font-size: 105%;
  border: 1px lightgray solid;
  border-radius: 4px;
}

#anlegen{
  display: block;
  float: right;
}

#main  {
  padding: 1%;
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
}

/**********PPK-Präsentation Formular************/

#btn_generieren{
  background-color: white;
  border: solid 1px #005281;
  color: #005281;
  margin-left: 40%;
  padding: 3%;
  padding-right: 5%;
  padding-left: 5%;
}

.btn_generieren{
  padding: 5%;
}

a{
  color: white;
  background: #005281;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a.navbar-item:link {
  text-decoration: none;
}
a.navbar-item:visited {
  text-decoration: none;
}

a.navbar-item:hover {
  text-decoration: none;
}
table tr,td{
  border-color: #005281;
}
a.navbar-item:active {
  text-decoration: none;
}

.button_background{
  background-color: #005281;
}

.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

h1 {
  color: #005281;
}

#form{
  background-color: #E5F6FF;
  padding: 5%;
}

div .field{
  //padding: 2%;
}

button {
  background-color: #A7E0F9;
}

label{
  font-size: 120%;
  padding-bottom: 2%;
}

.image{
  width:15%;
  float: right;
}

select {
  width: 100%;
  padding: 0.8%;
  color:  #005281;
  font-size: 105%;
  border: 1px lightgray solid;
  border-radius: 4px;
}

#anlegen{
  display: block;
  float: right;
}

#main  {
  padding: 1%;
  box-sizing: border-box;;
  margin-left: 15%;
  margin-right: 15%;
}

#start_form{
  margin: 2%;
  padding: 3%;
}

#start_form button{
  color: white;
}

.mat-form-field:not(.mat-form-field-appearance-legacy)
.mat-form-field-prefix .mat-icon-button,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  background-color: white;
}

.mat-form-field-prefix .mat-icon-button .mat-icon, .mat-form-field-suffix .mat-icon-button .mat-icon {
  color: #005281;
}

#project_table{
  background-color: #e5f6ff; border-color: #005281;
}

#project_table th{
  background-color: #e5f6ff; border-color: #005281; border-radius: 20%; color: #005281;
}

#project_table td{
  background-color: #e5f6ff; border-color: #005281; border-radius: 50px; color: #005281;
}

.project{
  margin: 5%;
}

#main tr,td,th{
  background-color: #e5f6ff;
  border-color: #005281;
  color: #005281;
}

.full-width-field {
  width: 100%;
}

#create_employee .mat-form-field-flex{
  border-color: white;
}
.mat-datepicker-content .mat-calendar {
  background-color: white;
}

.mat-form-field:not(.mat-form-field-appearance-legacy)
.mat-form-field-prefix .mat-icon-button,
.mat-form-field:not(.mat-form-field-appearance-legacy)
.mat-form-field-suffix .mat-icon-button {
  background-color: #E5F6FF;
}

mat-radio-button ~ mat-radio-button {
  margin: 100%;
}

mat-label{
  color: #005281;
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  color: #005281;
}

.title_style{
  color: #005281;
}

.button_style{
  background-color: #005281;
}

path{
  color: #005281;
}

.mat-radio-label-content{
  color: #005281;
}

span .mat-radio-outer-circle{
  border-color: #005281;
}

 .mat-select-min-line ng-tns-c80-1 ng-star-inserted {
  color: #005281;
}

box{
  background-color: #e5f6ff;
}

.login_form{
  background-color: #e5f6ff;
  padding: 3%;
}

.project{
  margin-left: 8%;
  margin-right: 8%;
}

#record_main{
  margin: 8%;
}

.mat-checkbox-label{
  color: #005281;
}

mat-checkbox full-width-field mat-accent mat-checkbox-checked{
  background-color: #005281;
  border-color: #005281;
}

.mat-radio-button{
  margin-left: 5%;
  margin-bottom:3%;
}

.material-icons{
  font-family: 'Material Icons' !important;
}


#icons{
  float:left;
  padding:2%;
  background-color: white;
  width: 100%;
}

#icon_profil {
  margin-left: 96%;
}

#icons a{
  background-color: white;
}

i:hover{
  color: gray;
}
i {
  color: #005281;
}

#icon_house{
  color: white;
}

.navbar-item:hover{
  color: #005281;
}

.navbar-item:hover #icon_house{
  color: #005281;
}

.small_icons{
  float: left;
  padding-right: 5%;
  padding-left:6%;
}

#profil_icon p{
  font-size: 200%;
  color: #005281;
}

#profil{
  padding-left: 15%;
  padding-bottom: 10%;
  margin-left:6%;
  margin-right:6%;
  background-color: #e5f6ff;
  padding: 9%;
  text-align: center;
  font-size: 120%;
  border-radius: 15px;

}

input[type='file'] {
  opacity:0
}

.datepicker{
  background-color: #e5f6ff;
  border-radius: 6px;
  border: 1px solid #cccfd0;
  padding: 2%;
  margin-bottom: 5%;
  color: #005281;
}

.mat-dialog-container{
  background-color: #e5f6ff;
  padding: 2%;
}

.table{
  border-color: #005281;
}

td{
  border-color: #005281;
}
mat-stepper{
  background-color: #e5f6ff;
}

.field:not(:last-child) {
  margin-bottom: 0;
}

.mat-form-field{
  font-size: 85%;
}

.date{
  font-size: 85%;
}


