<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet"/>
  <link href="https://unpkg.com/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css" rel="stylesheet"/>
  <script src="https://unpkg.com/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>
</head>
<div class="is-responsive" id="main">
  <a class="start button is-medium is-fullwidth is-large is-responsive" routerLink="/create_project"
     style="background-color: #e5f6ff; color: #005281; padding: 4%; border-color: #005281;"> Projekt anlegen</a>
  <br/>
  <a class="start button is-medium is-fullwidth is-large is-responsive" routerLink="/project_overview"
     style="background-color: #e5f6ff; color: #005281; padding: 4%; border-color: #005281;"> Projektübersicht</a>
  <br/>
  <a class="start button is-medium is-fullwidth is-large is-responsive" routerLink="/pp_menu"
     style="background-color: #e5f6ff; color: #005281; padding: 4%; border-color: #005281;"> Präsentation generieren</a>
  <br/>
  <button  class="start button is-medium is-fullwidth is-large is-responsive" routerLink="/create_ppk"
     style="background-color: #e5f6ff; color: #005281; padding: 4%; border-color: #005281;" > Neues PPK anlegen</button>
</div>

