<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet"/>
  <link href="https://unpkg.com/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css" rel="stylesheet"/>
  <script src="https://unpkg.com/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>
</head>
<body>
<div id="main">
  <h1 class="subtitle is-2" style="color: #005281;">Meilenstein ändern</h1>
  <div class="box" id="form">
    <form  #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" [formGroup]="addressForm" id="change_project_form" novalidate>
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label style="color: #005281;"> Meilenstein-Titel</mat-label>
        <input formControlName="titel" matInput value="{{milestone.titel}}">
      </mat-form-field>
      <mat-label>Status</mat-label>
      <br>
      <mat-radio-group aria-label="Status" color="primary" formControlName="status" name="status">
        <mat-radio-button value="1">planmäßig</mat-radio-button>
        <mat-radio-button value="2">anstehend</mat-radio-button>
        <mat-radio-button value="3">in Verzug</mat-radio-button>
        <mat-radio-button value="4">fehlgeschlagen</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-label for="end_datum">End-Termin:</mat-label><br>
      <input  [min]="todayDate"  class="full-width-field datepicker" value="{{milestone.end_datum}}" type="date" id="end_datum" name="end_datum" formControlName="end_datum">
      <br>
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Beschreibung</mat-label>
        <textarea formControlName="beschreibung" name="beschreibung" matInput value="{{milestone.beschreibung}}"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Grund der Änderung</mat-label>
        <textarea formControlName="aenderung" name="aenderung" matInput></textarea>
        <mat-error *ngIf="addressForm.controls['aenderung'].hasError('required')">
          Grund der Änderung muss ausgefüllt werden!
        </mat-error>
      </mat-form-field>
      <div class=" has-text-centered " style=" background-color: #e5f6ff;">
        <input [disabled]="!addressForm.valid" class="button is-medium full-width-field is-dark" style="background-color: #005281;"
               type="submit" value="Meilenstein ändern">
      </div>
    </form>
  </div>
</div>
</body>
</html>
