
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet"/>
  <link href="https://unpkg.com/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css" rel="stylesheet"/>
  <script src="https://unpkg.com/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body style="background-color: #e5f6ff">
<h1 class="subtitle is-2" style="color: #005281; margin-bottom: 2%;">{{project.inhalt}} <button class="btn_change" routerLink="/change_project" (click)="onNoClick()"><mat-icon>create</mat-icon></button></h1>
    <br>
    <table class="table is-fullwidth is-hoverable is-centered is-bordered" id="project_table">
      <thead>
      <tr>
        <th>Projekt</th>
        <th>Berreich</th>
        <th>Status</th>
        <th>Ziel</th>
        <th>Start-Datum</th>
        <th>End-Datum</th>
        <th>Budget</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="is-uppercase">{{project.titel}}</td>
        <td>{{project.kategorie_id.name}}</td>
        <td >{{displayStatus(project.status)}}</td>
        <td>{{project.ziel}}</td>
        <td>{{project.start_datum | date: 'dd.MM.yyyy'}}</td>
        <td>{{project.end_datum | date: 'dd.MM.yyyy'}}</td>
        <td>{{project.budget}}</td>
      </tr>
      </tbody>
    </table>
    <table class="table is-striped table_employee" style="background-color: #e5f6ff; border-color: #005281; margin-left:20%; margin-right: 20%;">
      <tr>
        <th class="is-uppercase" style="border-color: #005281; color: #005281;">Mitarbeiter</th>
        <th class="is-uppercase" style="border-color: #005281; color: #005281;">Abteilung</th>
        <th class="is-uppercase" style="background-color: #e5f6ff; border-color: #005281; border-radius: 50px; color: #005281;">Arbeitsaufwand</th>
      </tr>
      <tr *ngFor="let testobject of employees">
        <td class="has-text-weight-bold">{{testobject.nachname}} {{testobject.vorname}}</td>
        <td>{{testobject.abteilung.name}}</td>
        <td>{{testobject.arbeitsstunden}}</td>
      </tr>
    </table>
 <div class="field">
      <a class="button is-medium is-fullwidth is-dark" routerLink="/add-milestone"
         style="background-color: #005281; color: white;" (click)="onNoClick()">Meilenstein hinzufügen</a>
      <br/>
      <a class="button is-medium is-fullwidth is-dark" routerLink="/milestone_list"
         style="background-color: #005281; color: white;" (click)="onNoClick()">Meilenstein-Liste</a>
      <br/>
      <a class="button is-medium is-fullwidth is-dark" routerLink="/change_project"
         style="background-color: #005281; color: white;" (click)="onNoClick()">Projektinformationen ändern</a>
    </div>
</body>
