<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
  <link href="https://unpkg.com/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/bulma-calendar@6.0.7/dist/js/bulma-calendar.min.js"></script>
</head>

<body>
<div id="main">
  <h1 class="subtitle is-3 title" style="color: #005281;">Mitarbeiter - Liste</h1>
  <div class="box" id="form">
    <div class="field">
      <a routerLink="../add-employee"  style="background-color: #005281;" class="button is-fullwidth is-dark">
        Mitarbeiter hinzufügen </a>
      <br />
    </div>

    <table class="table  is-fullwidth is-striped table_employee" style="background-color: #e5f6ff; border-color: #005281;">
      <tr style="border-color: #005281;">
        <th class="is-uppercase" style="border-color: #005281; color: #005281;">Mitarbeiter</th>
        <th class="is-uppercase" style="border-color: #005281; color: #005281;">Abteilung</th>
        <th class="is-uppercase" style="border-color: #005281; color: #005281;">Rechte</th>
        <th class="is-uppercase" style="background-color: #e5f6ff; border-color: #005281; border-radius: 50px; color: #005281;">Arbeitsaufwand</th>
      </tr>
      <tr  style="border-color: #005281;"*ngFor="let testobject of employees">
        <td class="has-text-weight-bold">{{testobject.nachname}} {{testobject.vorname}}</td>
        <td>{{testobject.abteilung.name}}</td>
        <td>{{translateRoles(testobject.rechte)}}</td>
        <td >{{testobject.arbeitsstunden}}</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
